body {
    font-family: "Playfair Display", serif;
    Margin: 0;
}

/* header stuff here*/ 
header {
    Background-color: #C0E1F3;
    padding: 1rem 10px;
    font-size: 1.4rem;
    font-weight: 400;
}



/* navigation stuff here */
nav { 
    background-color: #DAF0F2; 
}
nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none; 
    display: flex;
}
nav a {
    display: block;
    padding: 1rem 1rem; 
    text-decoration: none;
    font-size: 1.1rem;
    color: #6D28A8;
    font-weight: 400;
}

/* main stuff here */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #687A84;
    font-weight: 900;
}

main h2 {
    color: #024059;
    font-weight: 900; 
}
main address {
    font-style: normal;
    background-color: #C0E1F3;
    padding: .8rem;
    border-radius: 10px;
    border: 2px solid #024059;
}

/* footer stuff here */ 
footer {
    background-color: #C0E1F3;
    text-align: left;
    padding: 1rem 0;

}
footer p {
    margin: 0;
    font-size: .8rem;
    color: #6D28A8;
    letter-spacing: 4px;
}
